/* Resetando estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e layout */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

.botao-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 botões por linha */
    gap: 10px;
    justify-items: center;
    margin: 20px 0;
}

.numero-btn {
    padding: 15px;
    width: 60px;
    height: 60px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.numero-btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}

#confirmar {
    display: none;
    margin-top: 20px;
}

#cargoNome {
    font-size: 24px;
    font-weight: bold;
}
